body {
  margin: 0;
  background: #2F2E41;

}


#page {
  width: 1092px;
  margin: 71px auto 0;

}

nav {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 110px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(223, 203, 203);
}


nav ul {
  display: flex;
  justify-content: space-around;
  gap: 64px;
  list-style: none;

}

main {
  display: flex;
  justify-content: space-between;
  gap: 90px;
  margin-bottom: 157px;

}

section ul {

  display: flex;
  justify-content: space-between;
  list-style: none;
  gap: 5px;
  padding: 0;
}

ul li h1 {
  font-family: 'JetBrains Mono', monospace;
  font-size: 36px;
  font-weight: bold;
  color: white;
}

#cor {
  color: #00BFA6;
}

span {
  color: #00BFA6;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #C2C2C2;
  text-align: center;
  font-size: 16px;
  line-height: 28px;
}

#line {
  width: 568px;
  height: 0px;
  margin: 0 auto 27px;

  border: 1px solid #00BFA6;
}

footer {
  text-align: center;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: rgb(223, 203, 203);
}


#cadeado {
  position: absolute;


}